{
    "openapi": "3.0.1",
    "info": {
        "title": "Books API",
        "description": "A simple Books management API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://apim-books-api-dnm.azure-api.net/books"
        },
        {
            "url": "https://apim-books-api-dnm.azure-api.net/books"
        }
    ],
    "paths": {
        "/books": {
            "get": {
                "tags": [
                    "books"
                ],
                "summary": "Read All Books",
                "description": "Retrieve all books from the collection.",
                "operationId": "read_all_books_books_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/books/{book_id}": {
            "get": {
                "tags": [
                    "books"
                ],
                "summary": "Read Book",
                "description": "Retrieve a specific book by its ID.",
                "operationId": "read_book_books__book_id__get",
                "parameters": [
                    {
                        "name": "book_id",
                        "in": "path",
                        "description": "The ID of the book to retrieve",
                        "required": true,
                        "schema": {
                            "title": "Book Id",
                            "minimum": 0.0,
                            "exclusiveMinimum": true,
                            "type": "integer",
                            "description": "The ID of the book to retrieve"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "books"
                ],
                "summary": "Delete Book",
                "description": "Delete a book by its ID.",
                "operationId": "delete_book_books__book_id__delete",
                "parameters": [
                    {
                        "name": "book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "title": "Book Id",
                            "minimum": 0.0,
                            "exclusiveMinimum": true,
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/books/": {
            "get": {
                "tags": [
                    "books"
                ],
                "summary": "Read Book By Rating",
                "description": "Retrieve books filtered by rating.",
                "operationId": "read_book_by_rating_books__get",
                "parameters": [
                    {
                        "name": "book_rating",
                        "in": "query",
                        "description": "Filter by rating (1-5)",
                        "required": true,
                        "schema": {
                            "title": "Book Rating",
                            "maximum": 6.0,
                            "exclusiveMaximum": true,
                            "minimum": 0.0,
                            "exclusiveMinimum": true,
                            "type": "integer",
                            "description": "Filter by rating (1-5)"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/books/publish/": {
            "get": {
                "tags": [
                    "books"
                ],
                "summary": "Read Books By Publish Date",
                "description": "Retrieve books filtered by published date.",
                "operationId": "read_books_by_publish_date_books_publish__get",
                "parameters": [
                    {
                        "name": "published_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "title": "Published Date",
                            "maximum": 2031.0,
                            "exclusiveMaximum": true,
                            "minimum": 1999.0,
                            "exclusiveMinimum": true,
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/create-book": {
            "post": {
                "tags": [
                    "books"
                ],
                "summary": "Create Book",
                "description": "Create a new book in the collection.",
                "operationId": "create_book_create_book_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BookRequest"
                            },
                            "example": {
                                "author": "codingwithroby",
                                "description": "A new description of a book",
                                "published_date": 2029,
                                "rating": 5,
                                "title": "A new book"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/books/update_book": {
            "put": {
                "tags": [
                    "books"
                ],
                "summary": "Update Book",
                "description": "Update an existing book by ID.",
                "operationId": "update_book_books_update_book_put",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BookRequest"
                            },
                            "example": {
                                "author": "codingwithroby",
                                "description": "A new description of a book",
                                "published_date": 2029,
                                "rating": 5,
                                "title": "A new book"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BookRequest": {
                "title": "BookRequest",
                "required": [
                    "title",
                    "author",
                    "description",
                    "rating",
                    "published_date"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "title": "Id",
                        "type": "integer",
                        "description": "ID is not needed on create",
                        "nullable": true
                    },
                    "title": {
                        "title": "Title",
                        "minLength": 3,
                        "type": "string"
                    },
                    "author": {
                        "title": "Author",
                        "minLength": 1,
                        "type": "string"
                    },
                    "description": {
                        "title": "Description",
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string"
                    },
                    "rating": {
                        "title": "Rating",
                        "maximum": 6.0,
                        "exclusiveMaximum": true,
                        "minimum": 0.0,
                        "exclusiveMinimum": true,
                        "type": "integer"
                    },
                    "published_date": {
                        "title": "Published Date",
                        "maximum": 2031.0,
                        "exclusiveMaximum": true,
                        "minimum": 1999.0,
                        "exclusiveMinimum": true,
                        "type": "integer"
                    }
                },
                "example": {
                    "author": "codingwithroby",
                    "description": "A new description of a book",
                    "published_date": 2029,
                    "rating": 5,
                    "title": "A new book"
                }
            },
            "HTTPValidationError": {
                "title": "HTTPValidationError",
                "type": "object",
                "properties": {
                    "detail": {
                        "title": "Detail",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        }
                    }
                }
            },
            "ValidationError": {
                "title": "ValidationError",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "loc": {
                        "title": "Location",
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        }
                    },
                    "msg": {
                        "title": "Message",
                        "type": "string"
                    },
                    "type": {
                        "title": "Error Type",
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}